---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

import { type CollectionEntry } from 'astro:content';

import PostList from '~/components/PostList.astro';
import Prose from '~/components/Prose.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import { getPosts } from '~/lib/posts';

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async () => {
	const posts = await getPosts();

	const categoryPosts: Record<string, CollectionEntry<'blog'>[]> = {};
	for (const post of posts) {
		for (const category of post.data.categories ?? []) {
			categoryPosts[category] = (categoryPosts[category] ?? []).concat(
				post,
			);
		}
	}
	return Object.entries(categoryPosts).map(([category, posts]) => ({
		params: { slug: category.replaceAll(' ', '-') },
		props: { category, posts },
	}));
}) satisfies GetStaticPaths;

const { category, posts } = Astro.props;
---

<BaseLayout aria-labelledby="title">
	<Prose as="header" class="my-10">
		<h1 id="title" itemprop="headline">
			Posts filed as:
			<strong class="font-normal capitalize">
				{category}
			</strong>
		</h1>
	</Prose>
	<PostList posts={posts} />
</BaseLayout>
