---
import PostList from '~/components/PostList.astro';
import Prose from '~/components/Prose.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import { getPosts } from '~/lib/posts';

const posts = await getPosts();
---

<BaseLayout aria-labelledby="title">
	<Prose as="header" class="mt-10 mb-12">
		<h1 id="title" itemprop="headline">My Writings</h1>
	</Prose>
	<PostList posts={posts} />
</BaseLayout>
