@import 'tailwindcss';

@theme {
	--font-serif: 'Source Sans 4 Variable', serif;

	--animate-fade-in: fade-in 0.5s ease-in-out;
	@keyframes fade-in {
		from {
			opacity: 0;
			transform: scale(0.95);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
}

:root {
	/* See: https://piccalil.li/blog/fluid-typography-with-css-clamp/ */
	--title-size: clamp(
		var(--font-size-4xl),
		calc(1rem + 5vw),
		var(--font-size-6xl)
	);
}

.image-filter {
	transition: filter 0.5s;
	filter: sepia(100%) hue-rotate(230deg) brightness(90%);
}
.image-filter:hover {
	filter: sepia(100%) hue-rotate(230deg) brightness(100%);
}
