@import 'tailwindcss';

@theme {
	--font-serif: 'Source Serif 4 Variable', serif;

	/* See: https://piccalil.li/blog/fluid-typography-with-css-clamp/ */
	--text-title: clamp(var(--text-4xl), calc(1rem + 5vw), var(--text-6xl));

	--animate-fade-in: fade-in 0.5s ease-in-out;
	@keyframes fade-in {
		from {
			opacity: 0;
			transform: scale(0.95);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.image-filter {
	transition: filter 0.5s;
	filter: sepia(100%) hue-rotate(230deg) brightness(90%);
}
.image-filter:hover {
	filter: sepia(100%) hue-rotate(230deg) brightness(100%);
}
