@import 'tailwindcss';

@theme {
	--font-serif: 'Source Serif 4 Variable', serif;

	/* See: https://piccalil.li/blog/fluid-typography-with-css-clamp/ */
	--text-title: clamp(var(--text-4xl), calc(1rem + 5vw), var(--text-6xl));

	--animate-fade-in: fade-in 0.5s ease-in-out;
	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

.prose {
	@apply text-xl text-stone-300;
	line-height: 1.8;

	> :where(*:not([class*='mb-']):not([class*='mt-'])),
	p {
		margin-top: 1.2em;
		margin-bottom: 1.2em;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply text-white;
		font-weight: 100;
	}

	> h1 {
		@apply text-title;
		line-height: 1;
		margin-top: 0;
		margin-bottom: 0;
	}

	> h2 {
		@apply text-4xl;
		line-height: 1.111;
		margin-top: calc(var(--spacing) * 12);
		margin-bottom: calc(var(--spacing) * 8);
	}

	> h3 {
		@apply text-3xl;
		margin-top: 1.6em;
	}

	a {
		color: var(--color-violet-400);
		text-decoration: underline;
		cursor: pointer;
		transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			color: var(--color-violet-200);
		}
	}

	> ul,
	> ol {
		padding-inline-start: 1.6em;
	}
	> ul {
		list-style-type: disc;
	}
	> ol {
		list-style-type: decimal;
	}
	> :is(ul, ol) > li {
		padding-inline-start: 0.4em;
		margin: 0.6em 0;

		&::marker {
			color: var(--color-stone-600);
		}
	}

	> blockquote {
		@apply text-stone-50;
		padding-inline-start: 1em;
		margin: 1.6em 0;
		border-inline-start-width: var(--spacing);
		border-inline-start-color: var(--color-stone-600);
		font-weight: 500;
		font-style: italic;
		quotes: '“' '”' '‘' '’';
	}

	figcaption {
		@apply mt-2 text-center text-sm text-slate-400 italic;
	}

	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
}

.image-filter {
	transition: filter 0.5s;
	filter: sepia(100%) hue-rotate(230deg) brightness(90%);
}
.image-filter:hover {
	filter: sepia(100%) hue-rotate(230deg) brightness(100%);
}
