---
import { getCollection } from 'astro:content';

import PostList from '~/components/PostList.astro';
import Prose from '~/components/Prose.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 4);
---

<BaseLayout>
	<Prose as="article" class="mt-10" itemprop="about">
		<h1 itemprop="headline">Howdy, I'm Echo!</h1>
		<p>
			This is my website where I put some of my writings and other
			personal things. I am a web engineer, Jewish, trans and queer, goth,
			and a LARPer. My pronouns are xhe/xer. I live in Berlin with my two
			kitties Molly and Missy.
		</p>
		<p>Feel free to browse around or look me up on various social media:</p>
		<ul>
			<li>
				<a href="https://github.com/ChaosExAnima" rel="me noreferrer">
					GitHub
				</a>
			</li>
			<li>
				<a
					href="https://bsky.app/profile/echo.ishella.gay"
					rel="me noreferrer"
				>
					Bluesky
				</a>
			</li>
			<li>
				<a href="https://tech.lgbt/@chaosexanima" rel="me noreferrer">
					Mastodon
				</a>
			</li>
			<li>
				<a
					href="https://instagram.com/chaosexanima"
					rel="me noreferrer"
				>
					Instagram
				</a>
			</li>
			<li>
				<a href="https://echo.tumblr.com" rel="me noreferrer">Tumblr</a>
			</li>
		</ul>
	</Prose>
	<section aria-labelledby="latest-writings" class="mt-10">
		<Prose as="header">
			<h2 class="flex flex-col sm:flex-row gap-4 items-baseline mb-10">
				<span id="latest-writings">Latest writings</span>
				<a class="text-base font-light" href="/blog">
					Read more&hellip;
				</a>
			</h2>
		</Prose>
		<PostList
			header="h3"
			postClass="last:hidden last:md:max-lg:block"
			posts={posts}
		/>
		<a
			class="text-base font-light mt-10 block text-violet-400 hover:text-violet-300 transition-colors underline lg:hidden"
			href="/blog">Read more&hellip;</a
		>
	</section>
</BaseLayout>
