---
import { getCollection } from 'astro:content';

import PostList from '~/components/PostList.astro';
import Prose from '~/components/Prose.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, 3);
---

<BaseLayout>
	<Prose class="mt-10">
		<h1>Howdy, I'm Echo!</h1>
		<p>
			This is my website where I put some of my writings and other
			personal things. I am a web engineer, Jewish, trans and queer, goth,
			and a LARPer. My pronouns are xhe/xer. I live in Berlin with my two
			kitties Molly and Missy.
		</p>
		<p>Feel free to browse around or look me up on various social media:</p>
		<ul>
			<li>
				<a
					href="https://bsky.app/profile/echo.ishella.gay"
					rel="me noreferrer"
				>
					Bluesky
				</a>
			</li>
			<li>
				<a href="https://tech.lgbt/@chaosexanima" rel="me noreferrer">
					Mastodon
				</a>
			</li>
			<li>
				<a
					href="https://instagram.com/chaosexanima"
					rel="me noreferrer"
				>
					Instagram
				</a>
			</li>
			<li>
				<a href="https://echo.tumblr.com" rel="me noreferrer">Tumblr</a>
			</li>
		</ul>
		<h2 class="flex flex-col sm:flex-row gap-4 items-baseline mb-10">
			<span>Latest writings</span>
			<a class="text-base font-light" href="/blog">Read more&hellip;</a>
		</h2>
	</Prose>
	<PostList posts={posts} />
	<a
		class="text-base font-light mt-10 block text-violet-500 hover:text-violet-400 transition-colors underline lg:hidden"
		href="/blog">Read more&hellip;</a
	>
</BaseLayout>
