---
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';

import HeaderLink from './HeaderLink.astro';
---

<div aria-label="Site navigation" class="bg-black px-10">
	<nav
		class="flex flex-col sm:flex-row gap-4 items-center justify-between max-w-screen-2xl mx-auto py-10"
	>
		<div
			class="text-center sm:text-left hover:text-violet-400 transition-colors"
		>
			<a aria-label="Site title" href="/">
				<h2 class="text-2xl mb-2">{SITE_TITLE}</h2>
				<h3 class="italic font-light text-base">
					{SITE_DESCRIPTION}
				</h3>
			</a>
		</div>
		<ol aria-label="Navigation items" class="flex gap-4">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/pronouns">My Pronouns</HeaderLink>
		</ol>
	</nav>
</div>
