---
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';

import HeaderLink from './HeaderLink.astro';

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<header class:list={['bg-black px-10', className]}>
	<nav
		class="mx-auto flex max-w-screen-2xl flex-col items-center justify-between gap-4 py-10 sm:flex-row"
	>
		<div
			class="text-center transition-colors hover:text-violet-300 sm:text-left"
		>
			<a href="/">
				<h2 aria-label={SITE_TITLE} class="mb-2 text-2xl">
					{SITE_TITLE}
				</h2>
				<h3
					aria-label={SITE_DESCRIPTION}
					class="text-base font-light italic"
				>
					{SITE_DESCRIPTION}
				</h3>
			</a>
		</div>
		<ol class="flex gap-4">
			<HeaderLink href="/" text="Home" />
			<HeaderLink href="/blog" text="Blog" />
			<HeaderLink href="/pronouns" text="My Pronouns" />
		</ol>
	</nav>
</header>
