---
import { SITE_DESCRIPTION, SITE_TITLE } from '~/lib/constants';

import HeaderLink from './HeaderLink.astro';
import Link from './Link.astro';

interface Props {
	background?: boolean;
	class?: string;
}

const { background = true, class: className } = Astro.props;
---

<header class:list={['px-10', background && 'bg-black', className]}>
	<nav
		class="mx-auto flex max-w-screen-2xl flex-col items-center justify-between gap-4 py-10 sm:flex-row"
	>
		<div class="text-center sm:text-left">
			<Link href="/">
				<h2 aria-label={SITE_TITLE} class="mb-2 text-2xl">
					{SITE_TITLE}
				</h2>
				<h3
					aria-label={SITE_DESCRIPTION}
					class="text-base font-light italic"
				>
					{SITE_DESCRIPTION}
				</h3>
			</Link>
		</div>
		<ol class="flex gap-4">
			<HeaderLink href="/" text="Home" />
			<HeaderLink href="/blog" text="Blog" />
			<HeaderLink href="/pronouns" text="My Pronouns" />
		</ol>
	</nav>
</header>
