---
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';

import HeaderLink from './HeaderLink.astro';

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<header class:list={['bg-black px-10', className]}>
	<nav
		class="flex flex-col sm:flex-row gap-4 items-center justify-between max-w-screen-2xl mx-auto py-10"
	>
		<div
			class="text-center sm:text-left hover:text-violet-300 transition-colors"
		>
			<a href="/">
				<h2 aria-label={SITE_TITLE} class="text-2xl mb-2">
					{SITE_TITLE}
				</h2>
				<h3
					aria-label={SITE_DESCRIPTION}
					class="italic font-light text-base"
				>
					{SITE_DESCRIPTION}
				</h3>
			</a>
		</div>
		<ol class="flex gap-4">
			<HeaderLink href="/" text="Home" />
			<HeaderLink href="/blog" text="Blog" />
			<HeaderLink href="/pronouns" text="My Pronouns" />
		</ol>
	</nav>
</header>
