---
import type { HTMLAttributes } from 'astro/types';

type Props = { text: string } & HTMLAttributes<'a'>;

const { class: className, href, text, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<li class="text-xl font-light hover:text-violet-400 transition-colors">
	<a
		class:list={[className, { active: isActive }]}
		href={href}
		{...props}
		aria-label={text}
	>
		{text}
		<slot />
	</a>
</li>
