---
import { Image } from 'astro:assets';

import { getPostPath, type Post } from '~/lib/posts';

import FormattedDate from './FormattedDate.astro';

type Props = Post;
const post = Astro.props;

const gradient = 'bg-gradient-to-b from-stone-200 to-stone-800';
---

<a href={getPostPath(post)}>
	{
		post.data.coverImage && (
			<Image
				alt={post.data.coverAlt ?? ''}
				class="object-cover h-80 image-filter rounded-md"
				sizes={`(max-width: 768px) 680px, (max-width: 1024px) 480px, 370px`}
				src={post.data.coverImage}
				widths={[370, 440, 680, post.data.coverImage.width]}
			/>
		)
	}
	{
		!post.data.coverImage && (
			<div
				class:list={['w-full h-80 rounded-md image-filter', gradient]}
			/>
		)
	}
	<h4 class="font-thin text-3xl my-4">{post.data.title}</h4>
	<p>
		<FormattedDate date={post.data.date} />
	</p>
</a>
