---
import { type CollectionEntry } from 'astro:content';

import PostItem from './PostItem.astro';

interface Props {
	posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<ul class="grid gap-10 md:grid-cols-2 lg:grid-cols-3">
	{
		posts.map((post) => (
			<li>
				<PostItem {...post} />
			</li>
		))
	}
</ul>
