---
import FormattedDate from './FormattedDate.astro';

interface Props {
	categories?: string[];
	date: Date;
}

const { categories = [], date } = Astro.props;
---

<div class="font-light text-base mt-4 mb-10 flex flex-col sm:flex-row sm:gap-1">
	<slot />
	<FormattedDate date={date} />
	{
		categories.length > 0 && (
			<>
				<span class="hidden sm:block">&ndash; </span>
				Filed under:
				<ul class="m-0 p-0 ps-0 list-none sm:flex gap-1">
					{categories.map((category) => (
						<li
							aria-label={category}
							class="sm:after:content-[','] last:mr-0 last:after:content-none m-0 p-0 sm:mr-1 flex flex-wrap"
							itemprop="keywords"
							itemscope
							itemtype="http://schema.org/DefinedTerm"
						>
							<a
								class="block"
								href={`/category/${category.replaceAll(' ', '-')}`}
								itemprop="url"
							>
								<span itemprop="name">{category}</span>
							</a>
						</li>
					))}
				</ul>
			</>
		)
	}
</div>
