---
import FormattedDate from './FormattedDate.astro';

interface Props {
	categories?: string[];
	date: Date;
}

const { categories = [], date } = Astro.props;
---

<div
	class="mt-4 mb-10 flex flex-col text-base font-light sm:flex-row sm:gap-1"
	data-pagefind-sort={`date:${date.toISOString()}`}
>
	<slot />
	<FormattedDate date={date} />
	{
		categories.length > 0 && (
			<>
				<span class="hidden sm:block">&ndash; </span>
				Filed under:
				<ul class="m-0 list-none gap-1 p-0 ps-0 sm:flex">
					{categories.map((category) => (
						<li
							aria-label={category}
							class="m-0 flex flex-wrap p-0 last:mr-0 last:after:content-none sm:mr-1 sm:after:content-[',']"
							itemprop="keywords"
							itemscope
							itemtype="http://schema.org/DefinedTerm"
						>
							<a
								class="block"
								href={`/category/${category.replaceAll(' ', '-')}`}
								itemprop="url"
							>
								<span
									data-pagefind-filter="category"
									itemprop="name"
								>
									{category}
								</span>
							</a>
						</li>
					))}
				</ul>
			</>
		)
	}
</div>
