<div
	class:list={[
		'pointer-events-none z-[-1]',
		'fixed top-0 left-0 h-screen w-full',
		'bg-contain bg-blend-overlay',
		'opacity-0 transition-opacity duration-200',
	]}
	id="stars"
	role="presentation"
>
	<div
		class:list={[
			'block h-full w-full bg-gradient-to-tr from-cyan-900/20 via-violet-900/20 to-black/20',
			'opacity-0 transition-opacity delay-100 duration-200',
		]}
	>
	</div>
</div>
<script src="~/scripts/stars.ts"></script>
